@import 'colors';


$font-UQReg: UniqloProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-UQBold: UniqloProBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-helNeue: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


html {
    scroll-behavior: smooth;
}




// ————————————————————————————————————o————————————————————————————————————o COLOR FADES -->
// Setting fade transition and default settings -->
// ————————————————————————————————————o————————————————————————————————————o COLOR FADES -->
body {
    transition: background-color 1s ease; // margin: 24px;
}

#main {
    transition: background-color 1s ease;
}

#wrapper {
    background-color: transparent;
}





.back-to-top.show-back-top {
    display: none;
}





// .pt_primary #main .primary-content #coloursScrl {
#coloursScrl {
    max-width: 1222px;
    margin: 0 auto;
    perspective: 1px;
    transform-style: preserve-3d;
    transition: background-color 1s ease;
    * {
        box-sizing: border-box;
    }
    img {
        max-width: none;
        max-height: none;
    }
    h1 {
        margin-bottom: 20px;
        font-family: $font-UQReg;
        font-size: 50px;
        color: red;
        letter-spacing: 0;
        text-transform: uppercase;
    }
    h2 {
        font-family: $font-UQReg;
        font-size: 60px;
        color: white;
        letter-spacing: 7px;
        border-bottom: none;
    }
    h3 {
        margin: 10px auto 0;
    }
    p {
        margin: 0;
        font-family: $font-helNeue;
        font-size: 21px;
        font-weight: 300;
        line-height: 1.7;
    }
    .icon {
        margin-bottom: -2px;
        padding-left: 5px;
        font-size: 22px;
        color: white;
        transition: all 0.3s;
    }
    .subhead {
        width: 70%;
        margin: 0 auto;
    }
    .flipped {
        transform: scaleX(-1);
    }
    .collecItem {
        margin-bottom: 10px;
        img {
            width: 90%;
            margin: 0;
            border-radius: 50%;
            border: 3px solid white;
        }
        img.thumb {
            width: 120px;
        }
        p {
            padding: 10px 0;
            font-size: 18px;
            word-wrap: break-word;
        }
    }
    .panel {
        // display: flex;
        // justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 100px 0;
        font-family: $font-helNeue;
        font-weight: 300;
        color: white;
        letter-spacing: 0.6px;
        display: grid;
        grid-template-columns: 45% 1fr;
        grid-column-gap: 20px;
        .mainImage {
            width: 100%;
        }
        article.oneInfo {
            position: relative;
            margin-bottom: 50px;
            color: white;
            text-align: center;
            img.featureImg {
                float: none;
                width: 140px;
                height: 140px;
                border: 3px solid white;
                border-radius: 50%;
            }
            h2 {
                margin: 40px 0;
                text-transform: uppercase;
            }
        }
        
        
        
        
        
        
        // ————————————————————————————————————o————————————————————————————————————o SECTIONS -->
        // SPECIFIC SECTIONS -->
        // ————————————————————————————————————o————————————————————————————————————o SECTIONS -->
        &.uldIntro {
            grid-template-columns: 80% 1fr;
            h1 {
                margin-top: 30px;
                font-size: 80px;
            }
            .sticky {
                padding-left: 27px;
            }
            .ticker {
                height: 90px;
                padding: 8px 0 8px 25px;
                border: 4px solid red;
                overflow: hidden;
                .tick {
                    display: none;
                    font-family: $font-UQReg;
                    font-size: 80px;
                    color: red;
                    text-transform: uppercase;
                    line-height: normal;
                }
                .slick-slide.tick {
                    display: inline-block;
                }
            }
        }



        &.whatIs {
            grid-column-gap: 20px;
            .info {
                margin-right: 40px;
            }
            img.uldLogo {
                float: none;
                width: 200px;
                margin: 10px 0 20px;
            }
            img.whatIsImage {
                transform: translateY(var(--whatIs));
                will-change: transform;
            }
        }



        &.lightweight {
            grid-template-columns: 1fr 41%;
            grid-column-gap: 70px;
            img.mainImage {
                transform: translateY(var(--light));
                will-change: transform;
            }
        }



        &.heatRetention {
            grid-template-columns: 43% 50%;
            grid-column-gap: 70px;
            img.mainImage {
                justify-self: end;
                width: 100%;
                transform: translateY(var(--heat));
                will-change: transform;
            }
        }



        &.repellent {
            img.mainImage {
                transform: translateY(var(--rep));
                will-change: transform;
            }
        }



        &.colors {
            grid-template-columns: 1fr;
            .mainImage {
                display: block;
                width: 80%;
                margin: 30px auto 0px 0;
            }
            .sectionHeader {
                position: relative;
            }
            .gradient {
                position: absolute;
                // border: 1px solid white;
                z-index: 5;
                &.gradRight {
                    right: 0;
                }
                &.gradLeft {
                    left: 0;
                    transform: scaleX(-1);
                }
            }
            .gradBack {
                position: absolute;
                bottom: 0;
                width: 12%;
                height: 85%;
                z-index: 6;
                opacity: var(--opacity);
                will-change: opacity;
                &.gradBackRight {
                    right: 0;
                    background-image: linear-gradient(to right, rgba(255,0,0,0), #1a234a);
                }
                &.gradBackLeft {
                    left: 0;
                    background-image: linear-gradient(to left, rgba(255,0,0,0), #1a234a);
                }
            }
            .colorTicker {
                width: 100%;
                max-width: 1222px;
                .slick-slide {
                    margin-right: 6px;
                }
            }
        }



        &.family {
            grid-template-columns: 45% 1fr;
            grid-column-gap: 70px;
            .oneInfo {
                color: #ff9349;
                color: white;
            }
            .paraJacket {
                transform: translateY(var(--field));
                will-change: transform;
            }
            .stackedImages {
                position: relative;
                .mainImage {
                    &:first-child {
                        width: 400px;
                    }
                    &:nth-child(2) {
                        position: absolute;
                        top: 130px;
                        left: 0px;
                    }
                    &:nth-child(3) {
                        position: absolute;
                        top: 250px;
                        left: 250px;
                        width: 300px;
                    }
                }
            }
        }
    }
    
    
    // Fixed backgrounds - setting the element rel to position text
    .production {
        position: relative;
    }








    // <!-- ————————————————————————————————————o————————————————————————————————————o COLLECTION SECTIONS -->
    // <!-- COLLECTION SECTIONS -->
    // <!-- ————————————————————————————————————o————————————————————————————————————o COLLECTION SECTIONS -->
    .collection {
        margin: 0 80px 300px;
        color: white;
        text-align: center;
        &.panel {
            display: block;
        }
        .collectionMain {
            display: grid;
            grid-template-columns: auto 65% auto;
            grid-column-gap: 60px;
            margin-top: 50px;
        }
        .collecFeats {
            width: 100%;
        }
        .mainImage {
            width: 100%;
        }
        .collecFeats {
            margin-top: 90px;
        }
        &#classic {
            .mainImage {
                transform: translateY(var(--classic));
                will-change: transform;
            }
        }
        &#seamless {
            .collectionMain {
                grid-template-columns: auto 61% auto;
                grid-column-gap: 40px;
                margin: 0 50px;
            }
            .mainImage {
                padding: 0 10px 0 80px;
                transform: translateY(var(--seamless));
                will-change: transform;
            }
        }
        &#compact {
            .collectionMain {
                grid-column-gap: 20px;
                margin-top: 0;
            }
            .compactImage {
                padding: 0 50px;
                transform: translateY(var(--compact));
                will-change: transform;
            }
        }
    }








    // <!-- ————————————————————————————————————o————————————————————————————————————o COLLECTION v2 -->
    // <!-- COLLECTION v2 -->
    // <!-- ————————————————————————————————————o————————————————————————————————————o COLLECTION v2 -->
    .collection02 {
        position: relative;
        align-items: center;
        min-height: 100vh;
        margin: 100px 0;
        color: white;
        text-align: center;
        .collecItem {
            position: relative;
            width: 222px;
        }
        .editorialImg {
            position: absolute;
            width: 60%;
            top: 280px;
            left: 2%;
        }
        &#classic02 {
            .collecItem {
                z-index: 2;
                float: right;
                top: 30px;
                right: 1%;
            }
            .mainImage {
                z-index: 1;
                position: absolute;
                top: 19%;
                right: 2%;
                width: 58%;
                transform: translateY(var(--classic02));
                will-change: transform;
            }
        }
        &#seamless02 {
            .collecItem {
                z-index: 2;
                float: right;
                top: 30px;
                right: 1%;
            }
            .mainImage {
                z-index: 1;
                position: absolute;
                top: 19%;
                right: 2%;
                transform: translateY(var(--seamless02));
                will-change: transform;
            }
        }
        &#compact02 {
            .collecItem {
                z-index: 2;
                float: right;
                top: 30px;
                right: 1%;
            }
            .mainImage {
                z-index: 1;
                position: absolute;
                top: 19%;
                right: 2%;
                transform: translateY(var(--compact02));
                will-change: transform;
            }
        }
    }













    // <!-- ————————————————————————————————————o————————————————————————————————————o STATIC BG SCROLL -->
    // <!-- STATIC BG SCROLL -->
    // <!-- ————————————————————————————————————o————————————————————————————————————o STATIC BG SCROLL -->
    .paraBack {
        grid-template-columns: 1fr;
        grid-template-rows: calc(100vh - 200px);
        margin: 200px auto;
        margin: 3px auto;
        align-items: end;
        height: calc(100vh - 200px);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        // background-size: 100%;
        p {
            bottom: 0;
            width: 30%;
            margin-left: 30px;
            font-size: 26px;
        }
    }
    .paraBack00 {
        background-image: url('http://uniqlo.scene7.com/is/image/UNIQLO/uldBackThreads?$jpgMQ$');
    }
    .paraBack01 {
        background-image: url('http://uniqlo.scene7.com/is/image/UNIQLO/uldBackLoom01?$jpgMQ$');
    }
    .paraBack02 {
        background-image: url('http://uniqlo.scene7.com/is/image/UNIQLO/uldBackLoom02?$jpgMQ$');
    }
    .paraBack03 {
        background-image: url('http://uniqlo.scene7.com/is/image/UNIQLO/uldBackPremiumDown?$jpgMQ$');
    }
    .paraBack04 {
        background-image: url('http://uniqlo.scene7.com/is/image/UNIQLO/uldBackTweezers?$jpgMQ$');
    }
    .paraBack05 {
        background-image: url('http://uniqlo.scene7.com/is/image/UNIQLO/uldBackCollar?$jpgMQ$');
    }
    .paraBack06 {
        background-image: url('http://uniqlo.scene7.com/is/image/UNIQLO/uldBackImageTransfer?$jpgMQ$');
    }
    .paraBack07 {
        background-image: url('http://uniqlo.scene7.com/is/image/UNIQLO/uldBackPouch?$jpgMQ$');
    }
    .paraBack08 {
        background-image: url('http://uniqlo.scene7.com/is/image/UNIQLO/uldBackCustomer?$jpgMQ$');
    }
    .microFibers {
        grid-template-columns: 1fr 59%;
        grid-column-gap: 30px;
        .info {
            margin-right: 40px;
        }
        img {
            transform: translateY(var(--fibers));
            will-change: transform;
        }
    }
    .packable {
        grid-template-columns: 1fr 59%;
        grid-column-gap: 30px;
        .info {
            margin-right: 40px;
        }
        img {
            transform: translateY(var(--packable));
            will-change: transform;
        }
    }










        // <!-- ————————————————————————————————————o————————————————————————————————————o GALLERIES -->
		// <!-- GALLERIES -->
        // <!-- ————————————————————————————————————o————————————————————————————————————o GALLERIES -->
        .gallery {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
			margin-top: 170px;
			margin-bottom: 500px;
            img {
                width: 100%;
            }
            .gallRow {
                margin-top: 0;
                p {
                    margin-bottom: 40px;
                }
            }
            .gall00 {
                margin-bottom: 60px;
                p {
                    width: 66%;
                }
            }
            .gall01 {
                display: grid;
                grid-template-columns: 66% 1fr;
                grid-template-rows: 1fr;
                grid-column-gap: 20px;
                justify-content: center;
				align-items: center;
				margin-bottom: 200px;
                img.rainy {
                    justify-self: end;
                    width: 86%;
                    width: 100%; // margin-right: 20px;
                    transform: translateY(var(--rainy));
                    will-change: transform;
                }
            }
            .gall02 img {
                float: right;
                width: 80%;
            }
            .gall05 {
                position: relative; // margin-bottom: 300px;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                justify-content: center;
                align-items: center;
                img.nyc {
                    justify-self: end;
                    width: 86%;
                }
                img.stairs {
                    position: absolute; // position: relative;
                    top: 50px;
                    left: 50px;
                    width: 46%;
                    transform: translateY(var(--stairs));
                    will-change: transform;
                }
                p {
                    clear: both;
                }
            }
            .heatGall {
                position: relative;
                .heatCopy {
                    position: absolute;
                    top: 80px;
                    right: 80px;
                    width: 450px;
                    font-family: $font-UQReg;
                    font-size: 50px;
                    color: #e66439;
                    h2 {
                        margin: 0;
                        padding-bottom: 5px;
                        font-size: 50px;
                        color: #e66439;
                        color: #2a5061;
                    }
                    p {
                        margin-bottom: 20px;
                        color: #2a5061;
                    }
                }
            }
            &.gallSeamless {
                .gall01 {
					margin-bottom: 70px;
                }
            }
			&.gallCompact {
				.gall01 {
					grid-template-columns: 1fr 66%;
					margin-bottom: 30px;
                }
				.gall02 {
					display: grid;
					grid-template-columns: 66% 1fr;
					grid-column-gap: 20px;
					img {
						float: none;
						width: 100%;
					}
					.imgSecondary {
						margin-top: 15%;
                    }
                    .librarian {
                        // padding-top: 60px;
                    }
                    video.gotham {
                        width: 100%;
                    }
                }
                .violin {
                    width: 140%;
                    transform: translateY(var(--violin));
                    will-change: transform;
                }
                .morphosis {
                    transform: translateY(var(--morphosis));
                    will-change: transform;
                }
                .gotham {
                    transform: translateY(var(--gotham));
                    will-change: transform;
                }
			}
			&.gallClassic {
				.gall01 {
					grid-template-columns: 1fr 66%;
					margin-bottom: 70px;
                }
                .adam {
                    padding-top: 220px;
                }
				.gall02 {
					display: grid;
					grid-template-columns: 66% 1fr;
					grid-column-gap: 20px;
					img {
						float: none;
						width: 100%;
					}
					.imgSecondary {
						margin-top: 22%;
					}
                }
                .oculus {
                    transform: translateY(var(--oculus));
                    will-change: transform;
                }
                .chinatown {
                    transform: translateY(var(--chinatown));
                    will-change: transform;
                }
            }
            &.finalGallery {
                margin-bottom: 100px;
            }
        }






}

.theCtas {
    * {
        box-sizing: border-box;
    }
    display: flex;
    justify-content: center;
    height: 40px;
    margin: 40px auto;
    overflow: hidden;
    z-index: 5;
}

.theCtas .zeroCTA {
    float: left;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: auto;
    min-width: 150px;
    padding-top: 0;
    margin: 0;
    font-family: $font-UQBold;
    font-size: 1.1vw;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid white;
    background: transparent;
    transition: all 0.3s;
    // span {
    //     color: white;
    // }
    &:hover {
        background: black;
        transition: all 0.3s;
        span {
            color: white;
        }
    }
}

.theCtas a {
    color: black;
}

@media (min-width: 1281px) {
    .theCtas .zeroCTA {
        font-size: 14px;
    }
}

.heatCta {
    display: block;
    position: relative;
    top: 0;
    right: auto;
    left: 0;
    margin-top: 20px;
    .zeroCTA {
        color: #2a5061;
        border-color: #2a5061;
        background: transparent;
        span {
            color: #2a5061;
        }
        &:hover {
            background: #2a5061;
            span {
                color: white;
            }
        }
    }
}

.persistent {
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 28px;
    height: 37px;
    background: white;
    border: 3px solid black;
    .zeroCTA {
        border: none;
    }
    span {
        color: black;
    }
    &:hover {
        color: white;
        background: black;
    }
}

.uldVideo {
    // opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.fadeIn {
    animation: fade-in 0.6s ease-in forwards;
}

.fadeOut {
    animation: fade-out 0.7s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.slick-list {
    top: -13px;
}

// ————————————————————————————————————o————————————————————————————————————o OVERRIDES -->
// DEMANDWARE OVERRIDES -->
// ————————————————————————————————————o————————————————————————————————————o OVERRIDES -->
.header-wrapper .promo-container,
.header-wrapper .header-border,
.header-wrapper .top-banner,
.header-wrapper .header-banner,
.siginup-logo,
#footer,
#globalsignup-dialog,
.back-to-top.show-back-top,
.back-to-top.bottom-tuch {
    display: none !important;
}

body {
    margin: 0;
}

.uldVideo {
    z-index: auto;
}